{% extends 'base.html' %}


{% block content %}
<h1>Apps</h1>
<p>Every app needs a name and a repository URL.  If your app needs a special
buildpack, you can specify it here.  (Otherwise you can leave the buildpack
field blank and let it be auto-detected at build time.)</p>

<p><a href="{% url app_add %}">Add an app.</a></p>

<h2>All Apps</h2>
<ul>
{% for o in object_list %}
<li> <a href="{% url app_update o.id %}">{{ o }}</a>
{% endfor %}
</ul>


{% if is_paginated %}
    <ul class="pager">
      {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}
      {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}">Next</a>
      {% endif %}
    </ul>
{% endif %}
{% endblock content %}
