{% extends 'base.html' %}

{% block script %}
{{ block.super }}
{% if form.media %}{{ form.media }}{% endif %}
{% endblock script %}

{% block content %}
<div class="row">
  <div class="col-sm-6">
    <form method='post' class='well raptorform'{% if enctype %}enctype="{{ enctype }}"{% endif %}>{% csrf_token %}
    {% if instructions %}
    {# No, we dont' have to close that <p> tag.  This is HTML5 baby! #}
    <p>{{ instructions }}
    {% endif %}
    <table class="formrows">
      {{ form }}
      <tr>
        <td class="buttoncell" colspan="2">
          <button type="submit" class="btn btn-primary">{% if btn_text %}{{ btn_text }}{% else %}Submit{% endif %}</button>
        </td>
      </tr>
    </table>
    </form>
  </div>
</div>
{% endblock content %}
