{% extends 'base.html' %}
{% load current_nav %}
{% load stripchar %}
{% load static from staticfiles %}

{% block content %}
<div class="row-fluid">

  <div class="proc-column col-sm-6 col-md-9">
    <h1>
      {{ dashboard_name }} | App Status
      {% if quick_dashboard %}
        {% if dashboard_id %}
        <button type="button" class="btn btn-primary btn-xs" id="setAsDefault" data-dashboardid="{{dashboard_id}}">Set as default</button>
        {% endif %}
      {% endif %}
    </h1>
    <table id="dash-apps"></table>
  </div>

  <div class="tasks-column col-sm-6 col-md-3">
      <div id="dash-tasks">
        <h1>Events</h1>
        <div id="events-list"></div>
      </div>
  </div>
</div>
{% endblock content %}


{% block script %}
<script src="{% static 'js/vrdash.js' %}"></script>

<script>
  $(function(){
  {% if dashboard_id %}
      VR.Dash.Options.dashboardId = {{ dashboard_id }};
  {% endif %}
  VR.Dash.init($('#dash-apps'), $('#events-list'));
});
</script>
{% endblock script %}
