{% extends 'base.html' %}


{% block content %}
<h1>Hosts</h1>
<p>Hosts are where your apps actually run.  You must add a host here before you
can push to it on the Deploy page, and you must make it a member of a Squad if
you want to swarm to it.</p>

<p><a href="{% url host_add %}">Add a host.</a></p>

<h2>All Hosts</h2>
<ul>
{% for o in object_list %}
<li> <a href="{% url host_update o.id %}">{{ o }}</a>
{% endfor %}
</ul>


{% if is_paginated %}
    <ul class="pager">
      {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}
      {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}">Next</a>
      {% endif %}
    </ul>
{% endif %}
{% endblock content %}
