{% extends 'base.html' %}
{% load static from staticfiles %}
{% block title %}Deployment Log{% endblock title %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
<div class="row-fluid">

  <div class="col-md-8">
    <h1 class="float">Deployment Log</h1>

    <ul class="deployment-log">
    {% for entry in object_list %}
      <li>
        <span class="label label-{{entry.type}}">{{ entry.time|date:"D M j, g:i A T"}}</span>
        {{ entry.user.username }}: {{ entry.message }}
      </li>
    {% endfor %}
    </ul>

    {% if is_paginated %}
    <ul class="pager">
      {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}
      {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}">Next</a>
      {% endif %}
    </ul>
    {% endif %}
  </div>
  
  <div class="col-md-4">
    <div class="filters-container panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#formCollapse">
              Filter log
            </a>
          </h4>
        </div>
        <div id="formCollapse" class="panel-collapse collapse in">
          <div class="panel-body">
            <form name="filterForm" id="filterForm">
              <div class="row-fluid">
                <h4>By type:</h4>
              </div>
              <div class="row-fluid">
                <label class="col-sm-3 label label-swarm"><span><input type="radio" name="type__icontains" value="swarm" /> Swarms</span></label>
                <label class="col-sm-3 label label-build"><span><input type="radio" name="type__icontains" value="build" /> Builds</span></label>
                <label class="col-sm-3 label label-release"><span><input type="radio" name="type__icontains" value="release" /> Releases</span></label>
                <label class="col-sm-3 label label-deployment"><span><input type="radio" name="type__icontains" value="deployment" /> Deployments</span></label>
              </div>
              <div class="row-fluid">
                <h4>By user:</h4>
              </div>
              <div class="row-fluid">
                <select name="user__username__icontains" id="user__username__icontains" class="form-control">
                  <option value="">-------</option>
                  {% for user in users_list %}
                  <option value="{{ user.username }}">{{ user.username }}</option>
                  {% endfor %} 
                </select>
              </div>
              <div class="row-fluid">
                <h4>By app:</h4>
              </div>
              <div class="row-fluid">
                <select name="message__icontains" id="app-list" class="form-control">
                  <option value="">-------</option>
                  {% for app in apps_list %}
                  <option value="{{ app.name }}">{{ app.name }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="row-fluid">
                <h4>Date range:</h4>
              </div>
              <div class="row-fluid">
                <label>
                  <strong>Start:</strong>
                  <input type="text" class="time__gt" placeholder="yy-mm-dd" style="width:85px">
                  <input type="text" id="start_time" placeholder="hh:mm:ss" style="width:100px">
                </label>
                <label>
                  <strong>End:</strong>
                  <input type="text" class="time__lt" placeholder="yy-mm-dd" style="width:85px">
                  <input type="text" id="end_time" placeholder="hh:mm:ss" style="width:100px">
                </label>
                <input type="hidden" id="time__gt" />
                <input type="hidden" id="time__lt" />
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <button class="btn btn-success btn-small" type="submit">Apply</button>
                  <button class="btn btn-link btn-small clear">Clear all</button>
                </div>
              </div>
            </form>
          </div>          
        </div>
      </div>      
    </div>
  </div>

</div>
{% endblock content %}

{% block script %}
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/jquery.maskedinput.min.js' %}"></script>
<script>
jQuery(function() {
  jQuery('button.clear').on('click', function(e) {
    window.location.reload();
  });

  jQuery('.time__gt, .time__lt').datepicker();
  jQuery('.time__gt, .time__lt').datepicker( 'option', 'dateFormat', 'yy-mm-dd' );
  jQuery('.time__gt, .time__lt').on('change', function(e) {
    jQuery('input[id=' + e.currentTarget.classList[0] + ']').attr('value', jQuery(this).val());
  });

  jQuery('#start_time, #end_time').mask('99:99:99');

  jQuery('#filterForm').on('submit', function(e) {
    e.preventDefault();
    
    var time__gt, time__lt;
    if( jQuery('#time__gt').val() ) time__gt = jQuery('#time__gt').val();
    if( jQuery('#time__lt').val() ) time__lt = jQuery('#time__lt').val();
    if( jQuery('#start_time').val() ) time__gt += ' ' + jQuery('#start_time').val();    
    if( jQuery('#end_time').val() ) time__lt += ' ' + jQuery('#end_time').val();
    
    var payload = jQuery(this).serialize();
    if(time__gt) payload += '&time__gt=' + time__gt;
    if(time__lt) payload += '&time__lt=' + time__lt;

    $.getJSON(VR.Urls.root + 'logs/?'+ payload, function(data, status, xhr) {
        if("success" === status) {
            var results = data.objects;
            $('.deployment-log').empty();
            if(results.length > 0) {
              _.each(results, function(el) {
                var time = new Date(el.time).format('ddd mmm dd, h:MM TT', true);
                $('.deployment-log').append('<li><span class="label label-' + el.type + '">' + time + ' UTC</span> ' + el.user.username + ': ' + el.message + '</li>');
              });
            } else {
              $('.deployment-log').append('<li>No results found</li>');
            }

            if(results.length < 100)
                $('ul.pager').hide();
            else
                $('ul.pager').show();
        }
    });
  });
});
</script>
{% endblock script %}