{% extends 'base.html' %}


{% block content %}
<h1>Stacks</h1>
<p>A stack is a build and deployment environment for applications.  OS images
belong to stacks.  Applications link to stacks just as they can link to
buildpacks.</p>

<p>Practically, a stack is a series of OS images, with the latest active image
being the one used in swarms.</p>

<p><a href="{% url stack_add %}">Add a stack.</a></p>

<h2>All Stacks</h2>
<ul>
{% for o in object_list %}
<li> <a href="{% url stack_update o.id %}">{{ o }}</a>
{% endfor %}
</ul>


{% if is_paginated %}
    <ul class="pager">
      {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}
      {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}">Next</a>
      {% endif %}
    </ul>
{% endif %}
{% endblock content %}
