{% extends 'base.html' %}
{% load static from staticfiles %}
{% load formfield %}

{% block content %}
<form method='post' style='margin-bottom:40px;' class='raptorform'{% if enctype %}enctype="{{ enctype }}"{% endif %}>{% csrf_token %}
  <div class="row">
    <div class="col-sm-12">
        {% if swarm.id %}
        <h1 class="float">Swarm: {{ swarm.shortname }}</h1>
        {% else %}
        <h1>New Swarm</h1>
        {% endif %}
    </div>
  </div>

  <div class="row">

    <div class="col-sm-4">
        <div class="tabbable">
          <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="#general" data-toggle="tab">General</a></li>
            <li><a href="#config" data-toggle="tab">Swarm Config</a></li>
            <li><a href="#preview" data-toggle="tab">Config Preview</a></li>
            <li><a href="#routing" data-toggle="tab">Routing</a></li>
            <li><a href="#versions" data-toggle="tab">Versions</a></li>
          </ul>
        </div>
        {% if swarm.id %}
        <h3>Deployed procs:</h3>
        <span id="swarm-container" class="row-fluid"></span>
        {% endif %}
    </div>

    <div class="col-sm-8">
      <div class="tab-content row">
        <div class="tab-pane active form-horizontal col-sm-8" id="general">
            {% formfield form.app_id %}
            {% formfield form.tag %}
            {% formfield form.os_image_id %}
            {% formfield form.proc_name %}
            {% formfield form.config_name %}
            {% formfield form.squad_id %}
            {% formfield form.size %}
        </div>
        <div class="tab-pane form-horizontal col-sm-8" id="config">
            {% formfield form.config_yaml %}
            {% formfield form.env_yaml %}
            {% formfield form.volumes %}
            {% formfield form.run_as %}
            {% formfield form.mem_limit %}
            {% formfield form.memsw_limit %}
            {% formfield form.config_ingredients %}
        </div>
        <div class="tab-pane form-horizontal col-sm-8" id="preview">
          <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-10">
              <h4>Compiled Config</h4>
              <pre id="compiled_config"></pre>

              <h4>Compiled Env</h4>
              <pre id="compiled_env"></pre>
            </div>
          </div>
        </div>
        <div class="tab-pane form-horizontal col-sm-8" id="routing">
            {% formfield form.pool %}
            {% formfield form.balancer %}
        </div>

        <div class="tab-pane form-horizontal span4" id="versions">
            {% if version_diffs %}

             {% for diff in version_diffs %}
                <span>Revision date: {{ diff.date }}</span><br/>
                <span>User: {{ diff.user }}</span><br/>
                <table>
                <thead><tr><th>Field</th><th>Value</th></tr></thead>
                {% for field, field_diff in diff.diff_dict.items %}
                    <tr><td>{{ field }}</td><td>{{ field_diff|safe }}</td></tr>
                {% endfor %}
                </table>
                <hr/>
             {% endfor %}

            {% else %}
              No previous version found.
            {% endif %}
        </div>
      </div>

      <div style="padding-left:100px">
        <button type="submit" class="btn btn-primary">Swarm</button>
      </div>
    </div>

  </div>
</form>
{% endblock content %}

{% block script %}
{{ form.media }}
<script src="{% static 'js/vrswarm.js' %}"></script>
{% if swarm.id %}
<script>
$(function() {
  VR.Swarm.init('{{ swarm.id }}', $('#swarm-container'));
  // enable using tabs in the textareas
  $('.codearea').tabby({tabString:'  '});

  jQuery.each($("select[multiple]"), function () {
    // "Locations" can be any label you want
    SelectFilter.init(this.id, "Ingredients", 0, "/static/");
  });
});

</script>
{% else %}
<script>
$(function() {
  // make sure that pool name checking also works for new swarms
  VR.Swarm.checkPoolName($('form.raptorform').get(0));
});
</script>
{% endif %}
{% endblock script %}
