{% extends 'base.html' %}
{% load static from staticfiles %}
{% load formfield %}

{% block content %}
<form method='post' class='raptorform'{% if enctype %}enctype="{{ enctype }}"{% endif %}>{% csrf_token %}
<div class="row">
<div class="span12">
    {% if swarm.id %}
    <h1 class="float">Swarm: {{ swarm.shortname }}
      <span id="swarm-container" class="row-fluid">
      </span>
    </h1>
    {% else %}
    <h1>New Swarm</h1>
    {% endif %}
</div>
</div>

<div class="row">

  <div class="span4">
      <div class="tabbable">
        <ul class="nav nav-list">
          <li class="active"><a href="#general" data-toggle="tab">General</a></li>
          <li><a href="#config" data-toggle="tab">Swarm Config</a></li>
          <li><a href="#preview" data-toggle="tab">Config Preview</a></li>
          <li><a href="#routing" data-toggle="tab">Routing</a></li>
        </ul>
      </div>
  </div>
  <div class="span8">
    <div class="tab-content row">
      <div class="tab-pane active form-horizontal span8" id="general">
          {% formfield form.app_id %}
          {% formfield form.tag %}
          {% formfield form.proc_name %}
          {% formfield form.config_name %}
          {% formfield form.squad_id %}
          {% formfield form.size %}
      </div>
      <div class="tab-pane form-horizontal span8" id="config">
        <div class="row">
          <div class="span8">
          {% formfield form.config_yaml %}
          {% formfield form.env_yaml %}
          {% formfield form.volumes %}
          {% formfield form.run_as %}
          {% formfield form.mem_limit %}
          {% formfield form.memsw_limit %}
          {% formfield form.config_ingredients %}
          </div>
        </div>
      </div>
      <div class="tab-pane form-horizontal span8" id="preview">
        <div class="row">
          <div class="span8">
            <h4>Compiled Config</h4>
            <pre id="compiled_config"></pre>

            <h4>Compiled Env</h4>
            <pre id="compiled_env"></pre>
          </div>
        </div>
      </div>
      <div class="tab-pane form-horizontal span4" id="routing">
          {% formfield form.pool %}
          {% formfield form.balancer %}
      </div>
    </div>

    <div class="control-row" style="padding-left:80px">
      <button type="submit" class="btn btn-primary">Swarm</button>
    </div>
  </div>

</div>
</form>
{% endblock content %}

{% block script %}
{{ form.media }}
<script src="{% static 'js/vrswarm.js' %}"></script>
{% if swarm.id %}
<script>
$(function() {
  VR.Swarm.init('{{ swarm.id }}', $('#swarm-container'));
  // enable using tabs in the textareas
  $('.codearea').tabby({tabString:'  '});

  jQuery.each($("select[multiple]"), function () {
    // "Locations" can be any label you want
    SelectFilter.init(this.id, "Ingredients", 0, "/static/");
  });
});

</script>
{% else %}
<script>
$(function() {
  // make sure that pool name checking also works for new swarms
  VR.Swarm.checkPoolName($('form.raptorform'));
});
</script>
{% endif %}
{% endblock script %}
