--allow-all-external

pytest
mock

./django-yamlfield
-e ./events
-e ./common
-e ./runners
-e ./imager
-e ./builder
-e ./server
-e ./agent
-e ./cli

# server tests require dateutil
python-dateutil>=2.4
