Django==1.4
Fabric==1.4.0
django-celery==3.0.4
psycopg2==2.4.4
django-extensions==0.7.1
keyring==0.7.1
Paver==1.0.5
django-yamlfield==0.2
gunicorn==0.13.4
yg.ldap==2.2
yg.deploy>=12.2,<13.0
South==0.7.6
requests==0.11.1
pymongo==2.1.1
django-picklefield==0.2.0
suds==0.4
django-reversion==1.6.1
mongoscheduler==0.0.1
baton==0.0.3
