Django==1.4
Fabric==1.4.0
django-celery==2.5.1
psycopg2==2.4.4
django-extensions==0.7.1
keyring==0.7.1
Paver==1.0.5
django-yamlfield==0.2
gunicorn==0.13.4
yg.ldap==2.1
yg.deploy>=10.0,<11.0
South==0.7.3
requests==0.11.1
pymongo==2.1.1
django-picklefield==0.2.0
