/* Some headers want to float left so we can stick some other UI on the
 * same line to the right */
.float {
  float: left;
}

.header-labels {
  float: right;
}

/* deployment log styles */
ul.deployment-log {
  list-style: none;
  margin: 10px 0 0 0;
  float: left;
  clear: both;
}

.deployment-log li {
  margin: 7px 0;

}

/* yellow for deployments in log */
.label-deployment {
  background-color: #f89406;
}
.label-deployment:hover {
  background-color: #c67605;
}
/* blue for releases in log */
.label-release {
  background-color: #3a87ad;
}
.label-release:hover {
  background-color: #2d6987;
}

/* styles for the process lists on the homepage dashboard */
.host-procs-list {
  list-style: none;
  margin-left: 0;
}

.host-status {
  margin: 3px;
  padding: 3px;
  width: 150px;
  overflow: hidden;
}

/* TODO: instead of just passing back the status from supervisord, and using
 * that as a class name for styling, have more abstract statuses like "ok" and
 * "alert", that can be based on additional info like smoke tests or nagios
 * checks. */

.FATAL {
  background-color: #b94a48;
}
.RUNNING {
  background-color: #468847;
}
.STOPPED {
  background-color: #f89406;
}
.FATAL:hover {
  background-color: #953b39;
}
.STOPPED:hover {
  background-color: #c67605;
}
.RUNNING:hover {
  background-color: #356635;
}

.procfilter {
  min-width: 50px;
}

/**** Isotope filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.4s;
     -moz-transition-duration: 0.4s;
      -ms-transition-duration: 0.4s;
       -o-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}
