{% extends 'base.html' %}

{% block content %}
<form method='POST' class='well' enctype="multipart/form-data">{% csrf_token %}
  Use this form to upload a build.  A valid build should have a Procfile, and have all app-specific dependencies already compiled into the env.
<table>
  {{ form.as_table }}
</table>
<button type="submit" class="btn btn-primary">Upload</button>
</form>
<p>TODO:
<ol>
    <li>Provide an interface for creating builds with the dashboard itself,
      instead of having to do them elsewhere and then upload.
</ol>
{% endblock content %}
