{% load current_nav %}
{% load static from staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>{% block title %}Velociraptor{% endblock title %}</title>
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css" media="screen">
  <link rel="stylesheet" href="{% static 'css/velociraptor.css' %}" type="text/css" media="screen">
  <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
  </style>
  <link rel="stylesheet" href="{% static 'css/bootstrap-responsive.css' %}" type="text/css" media="screen">
  {% block style %}{% endblock style %}
</head>
<body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Velociraptor</a>
          <div class="nav-collapse">
          {% block nav %}
          {% if not hide_nav %}
            {% url dash as dash_url %}
            {% url build_hg as build_url %}
            {% url release as release_url %}
            {% url deploy as deploy_url %}
            {% url log as log_url %}
            <ul class="nav">
              <li class="{% current_nav dash_url %}"><a href="{{ dash_url }}">Dash</a></li>
              <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                      Swarm
                      <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                      <li><a href="/swarm/">New</a></li>
                      <li class="divider"></li>
                      {% for swarm in swarms %}
                      <li><a href="{% url edit_swarm swarm.id %}">{{ swarm.shortname }}</a></li>
                      {% endfor %}
                  </ul>
              </li>
              <li class="{% current_nav build_url %}"><a href="{{ build_url }}">Build</a></li>
              <li class="{% current_nav release_url %}"><a href="{{ release_url }}">Release</a></li>
              <li class="{% current_nav deploy_url %}"><a href="{{ deploy_url }}">Deploy</a></li>
              <li class="{% current_nav log_url %}"><a href="{{ log_url }}">Log</a></li>
            </ul>
            <p class="navbar-text pull-right">
            {% if request.user.is_authenticated %}
            Logged in as {{ request.user.username }}.  <a href="{% url logout %}">Log out</a>
            {% else %}

            {% endif %}
            </p>
          {% endif %}
          {% endblock nav %}
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    {% if messages %}
        <div class="container-fluid">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
             <a class="close" data-dismiss="alert">×</a>
            {{ message }}
        </div>
        {% endfor %}
        </div>
    {% endif %}
    <div class="container-fluid">
        <div class="row-fluid">
        {% block content %}
        {% endblock content %}
        </div>
    </div>
    <!-- Javascript placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/django-jquery.js' %}"></script>
    {# I like underscore's more terse 'each' function #}
    <script src="{% static 'js/underscore-min.js' %}"></script>
    <script src="{% static 'js/goatee.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    {% block script %}{% endblock script %}
</body>
</html>
