{% extends 'base.html' %}
{% load stripchar %}
{% load static from staticfiles %}

{% block content %}
<div class="row-fluid">

  <div class="proc-column span9">
    <h1>App Status</h1>
    <table id="dash-apps"></table>
  </div>

  <div class="tasks-column span3">
      <div id="dash-tasks">
        <h1>Events</h1>
        <div id="events-list"></div>
      </div>
  </div>
</div>
{% endblock content %}


{% block script %}
<script src="{% static 'js/backbone-min.js' %}"></script>
<script src="{% static 'js/vrdash.js' %}"></script>


{# Goatee template for task item summary#}
<script id="event-tmpl" type="text/goatee">
  <div id="event-<%id%>" class="event-wrapper <%classtags%>">
    <i class="event-icon"></i>
    <span class="event-title"><%title%></span>
    <div style="clear: both;"></div>
</div>
</script>

<script id="event-details-tmpl" type="text/goatee">
  <div class="modal event-details-modal <%classtags%>"">
      <div class="modal-header">
          <a class="close" data-dismiss="modal">×</a>
          <h3><%message%> </h3>
          <div class="event-time-short"><%prettytime%></div>
      </div>
      <div class="modal-body">
      </div>
    </div>
</script>

<script>
//// Fire in the hole! ////
$(document).ready(function(){
  VR.Dash.Events.init(
    '{% url api_event_stream %}', 
    'event-tmpl', 
    'events-list',
    {{ max_events }}
  );
  VR.Dash.Apps = new AppList($('#dash-apps'));
  VR.Dash.getHostList();

});
</script>
{% endblock script %}
