{% extends 'base.html' %}
{% load stripchar %}

{% block content %}
<div id="dash-tasks"></div>
<h1>Procs <small>as reported by supervisord </small></h1>
<div class="proc-filters">
  <div class="btn-group statusfilters procbar" data-toggle="buttons-radio">
    <button class="btn btn-mini btn-inverse procfilter" data-filter="*">All</button>
    <button class="btn btn-mini btn-success procfilter" data-filter=".status-RUNNING">Running</button>
    <button class="btn btn-mini btn-warning procfilter" data-filter=".status-STOPPED">Stopped</button>
    <button class="btn btn-mini btn-danger procfilter" data-filter=".status-FATAL">Fatal</button>
  </div>
  <div class="btn-group hostlist procbar">
    <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
      By Host
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      {% for host in hosts %}
      <li><a href="#" class="procfilter" data-filter=".host-{{ host.name|stripchar:"." }}">{{ host }}</a>
      {% endfor %}
    </ul>
  </div>
  <div class="btn-group applist procbar">
    <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
      By App
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      {% for app in apps %}
      <li><a href="#" class="procfilter" data-filter=".app-{{ app.name|stripchar:"." }}">{{ app }}</a>
      {% endfor %}
    </ul>
  </div>
  <div class="btn-group expandcollapse procbar">
    <button class="btn btn-mini" rel="expand">Expand All</button>
    <button class="btn btn-mini" rel="collapse">Collapse All</button>
  </div>
</div>
<div id="dash-procs">
</div>
{% endblock content %}


{% block script %}
<script src="/static/js/jquery.isotope.js"></script>
<script src="/static/js/dash.js"></script>

{# Underscore template for list of processes inside each host block #}
<script id="host-procs-tmpl" type="text/template">
  <% _.each(states, function(state) { %>
    <div id="<%= state.procid %>" class="host-status status-<%= state.statename %> host-<%=state.hostclass %> app-<%= state.appclass %>"
          data-host="<%= host %>" data-proc="<%= state.name %>">
    <div class="label <%= state.statename %>">
      <span class="shortname"><%= state.shortname %></span>
      <span class="longname"><%= state.name %></span>
    </div>
    <div class="host-more">
      <%= state.host %><br />
      <%= state.description %>
      <div class="host-actions">
        <a class="btn btn-mini start" href="#" rel="start">Start</a>
        <a class="btn btn-mini stop" href="#" rel="stop">Stop</a>
        <% if (state.destroyable) { %><a class="btn btn-mini destroy" href="#" rel="destroy">Destroy</a><% } %>
      </div>
    </div>
  </div>
  <% }); %>
</ul>
</script>

{# Underscore template for list of currently running jobs #}
<script id="tasks-tmpl" type="text/template">
  <h1>Current Tasks</h1>
  <div>
  <ul class="host-procs-list">
    <% _.each(tasks, function(task) { %>
      <li class="label"><%= task.desc %></li>
    <% } %>
    <ul class="host-procs-list">
    </div>
</script>

{# Underscore template for "are you sure you want to delete this proc?" #}
<script id="proc-modal-tmpl" type="text/template">
<div class="modal action-dialog">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Are you sure?</h3>
  </div>
  <div class="modal-body">
    <p>You're about to <%= data.action %> <%= data.proc %> on <%= data.host %>.  Do you really want to do this?</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" rel="cancel">No</a>
    <a href="#" class="btn btn-primary" rel="confirm">Do it!</a>
  </div>
</div>
</script>
{% endblock script %}
