{% extends 'base.html' %}
{% load stripchar %}
{% load static from staticfiles %}

{% block content %}
<div class="row">

  <div class="proc-column span9">
    <h1>App Status</h1>
    <table id="dash-apps"></table>
  </div>

  <div class="tasks-column span3">
      <div id="dash-tasks">
        <h1>Events</h1>
        <div id="events-list"></div>
      </div>
  </div>
</div>
{% endblock content %}


{% block script %}
<script src="{% static 'js/vrdash.js' %}"></script>

<script>
  $(function(){
  VR.Dash.init($('#dash-apps'), $('#events-list'));
});
</script>
{% endblock script %}
