{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %}
<div class="row-fluid">
<div class="span12">
    {% if squad.id %}
    <h1>Squad: {{ squad }}</h1>
    {% else %}
    <h1>New Squad</h1>
    {% endif %}
</div>
</div>

<div class="row-fluid">
<div class="span3">

    <form method='post' class='well raptorform'{% if enctype %} enctype="{{ enctype }}"{% endif %}>{% csrf_token %}
        {{ form.non_field_errors }}
        {% if instructions %}
          {# No, we dont' have to close that <p> tag.  This is HTML5 baby! #}
          <p>{{ instructions }}
        {% endif %}
    <table class="formrows">
      {{ form.as_table }}
      <tr><td colspan=2 class="buttoncell">
    <button type="submit" class="btn btn-primary">{% if btn_text %}
        {{ btn_text }}{% else %}Submit{% endif %}</button>
    </td></tr>
    </table>
    </form>
    {% if docstring %}<p class="docstring"> {{ docstring }}{% endif %}
    {# only show add host button if the squad is saved #}
    {% if squad.id %}
    <div>
      {# TODO: Use a dialog on this page for adding hosts instead of linking to admin #}
        <!--<button id="btn-add-host" type="button" class="btn btn-inverse btn-mini">Add Host</button>-->
        <a href="/admin/deployment/squad/{{ squad.id }}/">Add Host</a>
    </div>
    {% endif %}
</div>

{# Only show host list if it's not a new squad #}
{% if squad.id %}
<div class="span9 hostgrid">
    <h2>Hosts</h2>
    <div id="squad-container" class="row-fluid">
    </div>
</div>
{% endif %}
</div>{# endrow #}
{% endblock content %}

{% block script %}
<script src="{% static 'js/vrsquad.js' %}"></script>

{# the box for each host #}
<script id="proc-block-tmpl" type="text/goatee">
    <div class="span4"><h4><%host%></h4>
    </div>
</script>

{# the inner grid of proc data for each host #}
<script id="procgrid-tmpl" type="text/goatee">
    <div class="procgrid">
        <%#procs%>
        <div class="procbox <%statename%>" id="proc-<%jsname%>"></div>
        <%/procs%>
    </div>
</script>

{# the Add Host dialog #}
<script id="add-host-tmpl" type="text/goatee">
<div class="modal task-details">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Add Host</h3>
    </div>
    <div class="modal-body">
        <form id="frm-add-host">
        <table class="attrs">
            <tr><th class="rowlabel">Hostname</th><td><input type="text"
                    name="hostname" id="input-hostname"></td></tr>
        </table>
        </form>
    </div>
</div>
</script>

<script>

$(function() {
  var squad = "{{ squad }}";
  VR.Squad.init(squad, $('#squad-container'));
});
</script>
{% endblock script %}
