{% extends 'base.html' %}


{% block content %}
<h1>Buildpacks</h1>
<p>Buildpacks are special repositories with scripts that know how to identify
and compile apps of a given runtime (Python, Node, Ruby, etc.)</p>

<p><a href="{% url buildpack_add %}">Add a buildpack.</a></p>

<h2>All Buildpacks</h2>
<ul>
{% for o in object_list %}
<li> <a href="{% url buildpack_update o.id %}">{{ o }}</a>
{% endfor %}
</ul>


{% if is_paginated %}
    <ul class="pager">
      {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}
      {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}">Next</a>
      {% endif %}
    </ul>
{% endif %}
{% endblock content %}
