{% extends 'base.html' %}


{% block content %}
<h1>Squads</h1>
<p>Squads are groups of identical hosts (same OS, system libraries, RAM, CPU).
When apps are swarmed, they are load balanced across the specified hosts.</p>

<p><a href="{% url squad_add %}">Add a Squad.</a></p>

<h2>All Squads</h2>
<ul>
{% for o in object_list %}
<li> <a href="{% url squad_update o.id %}">{{ o }}</a>
{% endfor %}
</ul>


{% if is_paginated %}
    <ul class="pager">
      {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}
      {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}">Next</a>
      {% endif %}
    </ul>
{% endif %}
{% endblock content %}
