{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %}
<div class="row">
<div class="span12">
    {% if swarm.id %}
    <h1>Swarm: {{ swarm.shortname }}</h1>
    {% else %}
    <h1>New Swarm</h1>
    {% endif %}
</div>
</div>

<div class="row">
  <div class="span4">

  <form method='post' class='well raptorform'{% if enctype %}enctype="{{ enctype }}"{% endif %}>{% csrf_token %}
     
      {% if instructions %}
        {# No, we dont' have to close that <p> tag.  This is HTML5 baby! #}
        <p>{{ instructions }}
      {% endif %}
  <div class="form-horizontal">
    {% for field in form %}
      <div class="control-group">
          <label class="control-label" for="{{field.name}}">{{field.label}}</label>
          <div class="controls">
            {{field}}
            <small class="helptext">{{ field.help_text }}</small>
          </div>
      </div>
    {% endfor %}
    <div class="control-row">
      <button type="submit" class="btn btn-primary">Swarm</button>
    </div>
  </div>
  </form>
  </div>

  {% if swarm.id %}
  <div class="span8">
      <h2>Procs</h2>
      <div id="swarm-container" class="row-fluid">
      </div>
  </div>
  {% endif %}
</div>
{% endblock content %}

{% block script %}
<script src="{% static 'js/vrswarm.js' %}"></script>
{% if swarm.id %}
<script>
$(function() {
  VR.Swarm.init('{{ swarm.id }}', $('#swarm-container'));
});
</script>
{% endif %}
{{ form.media }}
{% endblock script %}
