{% extends 'base.html' %}
{% load static from staticfiles %}
{% load formfield %}

{% block content %}
<form method='post' class='raptorform'{% if enctype %}enctype="{{ enctype }}"{% endif %}>{% csrf_token %}
<div class="row">
<div class="span12">

    {% if swarm.id %}
    <h1 class="float">Swarm: {{ swarm.shortname }}
      <span id="swarm-container" class="row-fluid">
      </span>
    </h1>
    {% else %}
    <h1>New Swarm</h1>
    {% endif %}
</div>
</div>

<div class="row">

  <div class="span4">
      <div class="tabbable">
        <ul class="nav nav-list">
          <li class="active"><a href="#general" data-toggle="tab">General</a></li>
          <li><a href="#config" data-toggle="tab">Config</a></li>
          <li><a href="#routing" data-toggle="tab">Routing</a></li>
        </ul>    
      </div>
  </div>
  <div class="span4">
    <div class="tab-content">
      <div class="tab-pane active form-horizontal" id="general">
          {% formfield form.app_id %}
          {% formfield form.tag %}
          {% formfield form.proc_name %}
          {% formfield form.config_name %}
          {% formfield form.squad_id %}
          {% formfield form.size %}
      </div>
      <div class="tab-pane form-horizontal" id="config">
          {% formfield form.config_yaml %}
          {% formfield form.env_yaml %}
      </div>
      <div class="tab-pane form-horizontal" id="routing">
          {% formfield form.pool %}
          {% formfield form.balancer %}
      </div>
    </div>

    <div class="control-row">
      <button type="submit" class="btn btn-primary">Swarm</button>
    </div>
  </div>

</div>
</form>
{% endblock content %}

{% block script %}
{{ form.media }}
<script src="{% static 'js/vrswarm.js' %}"></script>
{% if swarm.id %}
<script>
$(function() {
  VR.Swarm.init('{{ swarm.id }}', $('#swarm-container'));
  // enable using tabs in the textareas
  $('.codearea').tabby({tabString:'  '});
});
</script>
{% endif %}
{% endblock script %}
