/* Some headers want to float left so we can stick some other UI on the
 * same line to the right */
.float {
  float: left;
}

.header-labels {
  float: right;
}

/* deployment log styles */
ul.deployment-log {
  list-style: none;
  margin: 10px 0 0 0;
  float: left;
  clear: both;
}

.deployment-log li {
  margin: 7px 0;

}

div.label {
  cursor: pointer;
}

/* yellow for deployments in log */
.label-deployment {
  background-color: #f89406;
}
.label-deployment:hover {
  background-color: #c67605;
}
/* blue for releases in log */
.label-release {
  background-color: #3a87ad;
}
.label-release:hover {
  background-color: #2d6987;
}
.label-swarm {
  background-color: #333
}

/* APPS, SWARMS, PROCS */

#dash-apps {
  margin-top: 20px;
}

th.rowlabel {
  font-weight: normal;
  color: #888;
  text-align: right;
  padding-right: 10px;
}

.appbox {
  margin-bottom: 25px;
  float: left;
  width: 50%;
}

.apptitle {
  font-weight: bold;
  font-size: 17px;
  line-height: 32px;
  text-align: right;
  margin-right: 18px;
}

.apptitle:hover {
  color: #08C;
  cursor: pointer;
}

.biggened .apptitle {
  color: #08C;
}

.titlecell {
  vertical-align: top;
}

.proccell {
  padding-top: 6px;
}

.swarmbox {
  float: left;
}

.biggened .swarmbox {
  margin-right: 20px;
}

.swarmtitle {
  color: #999;
  line-height: 23px;
  display: none;
}

.biggened .swarmtitle {
  display: block;
}

.hostblock {
  width: 22%;
  float: left;
  margin-right: 2%;
  margin-bottom: 10px;
}

.hostblock h4 {
  /* prevent weird wrapping on small screen */
  clear: both;
}

.procgrid {
  /*margin-top: 5px;*/
  /*clear: both;*/
}

.procgrid h4 {
  margin-bottom: 5px;
}

.procwrap {
  float: left;
}

.procbox {
  height: 15px;
  width: 15px;
  float: left;
  margin: 0 4px 4px 0;
  cursor: pointer;
  background-color: #999;
}


/* SUPERVISORD PROCESS STATES */
.RUNNING { background-color: #00CC00; }

.STARTING { background-color: #0FF; }

.STOPPED { background-color: #FFCC00; }

.STOPPING { background-color: #F0F; }

.FATAL, .BACKOFF { background-color: #F00; }

.EXITED { background-color: #F60; }

.UNKNOWN { background-color: #909; }
/* END SUPERVISORD PROCESS STATES */


/* Only show 'Stop' button if running, and vice versa */
.procmodal-STOPPED .ifrunning {
  display: none;
}

.procmodal-RUNNING .ifstopped {
  display: none;
}


/* TASKS */

.task-wrapper {
  margin-bottom: 5px;
}

.task-status a {
  text-decoration: underline;
}

.task-status.SUCCESS a {
  color: #468847;
}

.task-status.FAILURE a {
  color: #b94a48;
}

.task-status.STARTED a {
  color: #3A87AD;
}

/* FORMS */

.raptorform {
  margin-top: 10px;
}

.formrows .helptext {
  color: #999;
  font-size: 10px;
  margin-left: 3px;
  position: relative;
  bottom: 3px;
}

.formrows td {
  padding: 2px;
  min-width: 50px;
}

.checkcell {
  text-align: center;
}

.buttoncell {
  text-align: right;
}

.formrows br {
  display: none;
}

/* NAV */

.nav .chzn-container {
  margin: 9px 0 0 10px;
  width: auto;
}

.nav .chzn-container .chzn-single{ 
  border: none;
}

.nav .chzn-container .chzn-single span { 
  background-color: transparent;
}

.chzn-container .chzn-results {
  max-height: 500px;
}
