/* Some headers want to float left so we can stick some other UI on the
 * same line to the right */
.float {
  float: left;
}

.header-labels {
  float: right;
}

/* deployment log styles */
ul.deployment-log {
  list-style: none;
  margin: 10px 0 0 0;
  float: left;
  clear: both;
}

.deployment-log li {
  margin: 7px 0;

}

div.label {
  cursor: pointer;
}

/* yellow for deployments in log */
.label-deployment {
  background-color: #f89406;
}
.label-deployment:hover {
  background-color: #c67605;
}
/* blue for releases in log */
.label-release {
  background-color: #3a87ad;
}
.label-release:hover {
  background-color: #2d6987;
}
.label-swarm {
  background-color: #333
}

/* APPS, SWARMS, PROCS */

th.rowlabel {
  font-weight: normal;
  color: #888;
  text-align: right;
  padding-right: 10px;
}

.appbox {
  margin-bottom: 25px;
  float: left;
  width: 50%;
}

.apptitle {
  font-weight: bold;
  font-size: 17px;
  line-height: 32px;
  text-align: right;
  margin-right: 18px;
}

.approw:first .apptitle {
  margin-top: 0px;
}

.clickable-text:hover {
  color: #08C;
  cursor: pointer;
}

.biggened .apptitle {
  color: #08C;
}

.titlecell {
  vertical-align: top;
}

.proccell {
  padding-top: 6px;
}

.swarmbox {
  float: left;
}

.biggened .swarmbox {
  margin-right: 20px;
}

.swarmtitle {
  color: #999;
  line-height: 23px;
  display: none;
}

.biggened .swarmtitle {
  display: block;
}

.hostblock {
  width: 22%;
  float: left;
  margin-right: 2%;
  margin-bottom: 10px;
}

.hostblock h4 {
  /* prevent weird wrapping on small screen */
  clear: both;
}

.procgrid {
  /*margin-top: 5px;*/
  /*clear: both;*/
}

.procgrid h4 {
  margin-bottom: 5px;
}

.procwrap {
  float: left;
}

.procbox {
  height: 15px;
  width: 15px;
  float: left;
  margin: 0 4px 4px 0;
  cursor: pointer;
  background-color: #999;
}


/* SUPERVISORD PROCESS STATES */
.RUNNING { background-color: #00CC00; }

.STARTING { background-color: #0FF; }

.STOPPED { background-color: #FFCC00; }

.STOPPING { background-color: #F0F; }

.FATAL, .BACKOFF { background-color: #F00; }

.EXITED { background-color: #F60; }

.UNKNOWN { background-color: #909; }
/* END SUPERVISORD PROCESS STATES */


/* Only show 'Stop' button if running, and vice versa */
.procmodal-STOPPED .ifrunning {
  display: none;
}

.procmodal-RUNNING .ifstopped {
  display: none;
}

/* EVENTS */

.event-wrapper {
  /*display: none;*/
  /*border: 1px solid #eee;*/
  margin-bottom: 5px;
}

.event-icon {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  display: inline-block;
  text-decoration: inherit;
}  

.event-icon.large {
  font-size: 26px;
}

.event-icon::before {
  content: "\f085"; /* default cogs icon */ 
}

.build .event-icon::before {
  content: "\f0ad"; /* wrench icon */
}

.deploy .event-icon::before {
  content: "\f093"; /* upload icon */
}

.route .event-icon::before {
  content: "\f0e8"; /* sitemap icon */
}

.deleted .event-icon::before {
  content: "\f014"; /* trash icon */
}

.uptest.success .event-icon::before {
  content: "\f00c"; /* checkmark icon */
}

.uptest.failed .event-icon::before {
  content: "\f00d"; /* X icon */
}

.user .event-icon::before {
  content: "\f007"; /* user icon */
}

.scheduled .event-icon::before {
  content: "\f017"; /* clock icon */
}

.warning .event-icon::before {
  content: "\f071"; /* warning icon */
  color: #fc0;
}

.failed .event-icon {
  color: red;
}

.success .event-icon {
  color: #0c0;
}

#events-list {
  margin-top: 18px;
}

#events-list .event-title {
  font-size: 12px;
  margin-top: 20px;
}


/* FORMS */

.raptorform {
  margin-top: 10px;
}

.formrows .helptext {
  color: #999;
  font-size: 10px;
  margin-left: 3px;
  position: relative;
  bottom: 3px;
}

.formrows td {
  padding: 2px;
  min-width: 50px;
}

.checkcell {
  text-align: center;
}

.buttoncell {
  text-align: right;
}

.formrows br {
  display: none;
}

/* NAV */
.nav .chzn-container {
  margin: 9px 0 0 10px;
  width: auto;
}

.nav .chzn-container-single .chzn-single {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}


/*
 * TRY to override the GODDAMN chosen styles that don't want to die.
 */
.nav .chzn-default {
  background-color: transparent;
  background-image: none;
  border: none;
}
