
/* http://paulirish.com/2012/box-sizing-border-box-ftw/ */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* Some headers want to float left so we can stick some other UI on the
 * same line to the right */
.float {
  float: left;
}

.header-labels {
  float: right;
}

/* deployment log styles */
ul.deployment-log {
  list-style: none;
  margin: 10px 0 0 0;
  float: left;
  clear: both;
}

.deployment-log li {
  margin: 7px 0;

}

div.label {
  cursor: pointer;
}

/* yellow for deployments in log */
.label-deployment {
  background-color: #f89406;
}
.label-deployment:hover {
  background-color: #c67605;
}
/* blue for releases in log */
.label-release {
  background-color: #3a87ad;
}
.label-release:hover {
  background-color: #2d6987;
}

/* styles for the process lists on the homepage dashboard */
.host-procs-list {
  list-style: none;
  margin-left: 0;
}

.host-status {
  margin: 5px;
  padding: 3px 0 0;
  width: 100px;
}

.host-status .label {
  overflow: hidden;
}

.host-status .host-more {
  display: none;
}

.host-status .longname {
  display: none;
}

.host-expanded {
  width: 210px;
}

.host-expanded .host-more {
  display: block;
  z-index: 20;
  overflow: visible;
}

/* When expanded, show the longname and hide the shortname */
.host-expanded .longname {
  display: inline;
}

.host-expanded .shortname {
  display: none;
}

.host-more {
  color: black;
  text-shadow: none;
  background: white;
  font-weight: normal;
  font-size: 11px;
  min-height: 72px;
}

.host-actions {
  margin-top: 3px;
}
.host-actions span.links {
    float: right;
}

/* hide/show action buttons depending on host status */

.status-RUNNING .start {
  display: none;
}

.status-STOPPED .stop {
  display: none;
}

/* TODO: instead of just passing back the status from supervisord, and using
 * that as a class name for styling, have more abstract statuses like "ok" and
 * "alert", that can be based on additional info like smoke tests or nagios
 * checks. */

.status-FATAL .label {
  background-color: #b94a48;
}
.status-RUNNING .label {
  background-color: #468847;
}
.status-STOPPED .label {
  background-color: #f89406;
}
.status-FATAL .label:hover {
  background-color: #953b39;
}
.status-STOPPED .label:hover {
  background-color: #c67605;
}
.status-RUNNING .label:hover {
  background-color: #356635;
}

.procfilter {
  min-width: 50px;
}

.procbar {
  display: inline-block;
}


.formrows .helptext {
  color: #999;
  font-size: 10px;
  margin-left: 3px;
  position: relative;
  bottom: 3px;
}

.formrows br {
  display: none;
}

.formrows input[type=text] {
  height: 28px;
}

/**** Isotope filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.4s;
     -moz-transition-duration: 0.4s;
      -ms-transition-duration: 0.4s;
       -o-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}
