{% extends 'base.html' %}
{% load stripchar %}

{% block content %}
<div id="dash-tasks"></div>
<h1>Procs <small>as reported by supervisord </small></h1>
<div class="proc-filters">
  <div class="btn-group statusfilters" data-toggle="buttons-radio">
    <button class="btn btn-mini btn-inverse procfilter" data-filter="*">All</button>
    <button class="btn btn-mini btn-success procfilter" data-filter=".status-RUNNING">Running</button>
    <button class="btn btn-mini btn-danger procfilter" data-filter=".status-FATAL">Fatal</button>
  </div>
  <div class="btn-group hostlist">
    <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
      By Host
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      {% for host in hosts %}
      <li><a href="#" class="procfilter" data-filter=".host-{{ host.name|stripchar:"." }}">{{ host }}</a>
      {% endfor %}
    </ul>
  </div>
  <div class="btn-group applist">
    <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
      By App
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      {% for app in apps %}
      <li><a href="#" class="procfilter" data-filter=".app-{{ app.name|stripchar:"." }}">{{ app }}</a>
      {% endfor %}
    </ul>
  </div>
</div>
<div id="dash-procs">
</div>
{% endblock content %}


{% block script %}
<script src="/static/js/jquery.isotope.js"></script>
<script src="/static/js/dash.js"></script>

{# Goatee template for list of processes inside each host block #}
<script id="host-procs-tmpl" type="text/goatee">
  <%#states%>
  <div class="host-status status-<%statename%> host-<%hostclass%> app-<%appclass%>" data-host="<%host%>" data-proc="<%name%>">
    <div class="label <%statename%>">
      <span class="shortname"><%shortname%></span>
      <span class="longname"><%name%></span>
    </div>
    <div class="host-more">
      <%host%><br />
      <%description%>
      <div class="btn-group host-actions">
        <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
          Actions
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="#">Start</a>
          <li><a href="#">Stop</a>
          <li><a href="#">Restart</a>
          <li><a href="#">Destroy</a>
        </ul>
      </div>

    </div>
  </div>
  <%/states%>
</ul>
</script>

{# Goatee template for list of currently running jobs #}
<script id="tasks-tmpl" type="text/goatee">
  <h1>Current Tasks</h1>
  <div>
  <ul class="host-procs-list">
    <%#tasks%>
      <li class="label"><%desc%></li>
    <%/tasks%>
    <ul class="host-procs-list">
    </div>
</script>
{% endblock script %}
